.hero {
  min-height: 100vh;
  background: linear-gradient(rgb(8, 63, 103, 0.7), rgba(0, 0, 0, 0.7)),
    url("../public/brian-jones-WK5g66MvaLE-unsplash.jpeg") center/cover
      no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--dark-shadow);
  margin-top: 100px;
}
.heroBtn {
  padding: 0.9rem;
  font-size: 1.25rem;
  background: var(--clr-white);
  color: var(--clr-primary-5);
}

.heroBtn:hover {
  background: transparent;
  color: var(--clr-white);
  border-color: var(--clr-white);
}

.heroBanner {
  text-align: center;
  color: var(--clr-white);
  padding: 0 3rem;
}
.heroBanner h1 {
  text-transform: uppercase;
  line-height: 4rem;
}
.heroBanner p {
  line-height: 2.5rem;
  max-width: 35rem;
  margin: 0 auto;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  padding: 2rem 0;
}

@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgb(8, 63, 103, 0.7), rgba(0, 0, 0, 0.7)),
      url("../public/tanner-marquis-mBTEPrsXaJk-unsplash.jpeg") center/cover
        no-repeat;
  }
  .heroBanner {
    padding: 0;
  }
  .heroBanner {
    max-width: 45rem;
  }
}
